<a href="https://colab.research.google.com/github/Neeraja4716/AI-PE/blob/master/ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Develop a code for scenario for 
 if year%12->0=monkey
           ->1=rooster
           ->2=dog
           ->3=pig
           ->4=rat
           ->5=ox
           ->6=tiger
           ->7=rabbit
           ->8=dragon
           ->9=snake
           ->10=horse
           ->11=sheep

In [ ]:
year=int(input("enter year for zodiac sign"))
if year%12==0:
  print("monkey")
elif year%12==1:
  print("rooster")
elif year%12==2:
  print("dog")
elif year%12==3:
  print("pig")
elif year%12==4:
  print("rat")
elif year%12==5:
  print("ox")
elif year%12==6:
  print("tiger")
elif year%12==7:
  print("rabbit")
elif year%12==8:
  print("dragon")
elif year%12==9:
  print("snake")
elif year%12==10:
  print("horse")
elif year%12==11:
  print("sheep")

enter year for zodiac sign2000
dragon

2.develop an application for calculating amount based on distance and weight of goods

In [ ]:
d=int(input("enter the distance"))
wt=int(input("enter weight"))
if d>=500:
  if wt>=100:
    amount=5*d
  elif wt>=10 and wt<100:
    amount=6*d
  else:
    amount=7*d
else:
  if wt>=100:
    amount=8*d
  else:
    amount=5*d
print("amount to be charged",amount)

3.A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given.

In [ ]:
tseat=input("enter the type of seat")
money=input("enter the payment mode")
if money=="cash":
  if tseat=="stalls":
    print(625-625*0.1)
  elif tseat=="circle":
    print(750-750*0.1)
  elif tseat=="upperdeck":
    print(850-850*0.1)
  else:
    print(1000-1000*0.1)
else:
  if tseat=="stalls":
    print(625-625*0.5)
  elif tseat=="circle":
    print(750-750*0.5)
  elif tseat=="upperdeck":
    print(850-850*0.5)
  else:
    print(1000-1000*0.5)

enter the type of seatcircle
enter the payment modecash
675.0

4.	Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature.

In [ ]:
IT=int(input("enter the intial temperature"))
FT=int(input("enter the fi nal temperature"))
water=int(input("enter the amount of water in kg"))
E=water*(FT-IT)*4184
print(E)

enter the intial temperature20
enter the fi nal temperature48
enter the amount of water in kg20
2343040

5.	Develop a program that prompts user to enter month and  print 
a.	“Winter ” -   December ,January and February
b.	“Spring”  -   March ,April and May
c.	“Summer”  --- June ,July, August
d.	“Autumn ”  -- September ,October, November

In [ ]:
month=input("enter month")
if month in ("December","January","February"):
  print("winter")
elif month in ("March","April","May"):
  print("spring")
elif month in ("June","July","August"):
  print("summer")
else:
  print("autumn")

enter monthMarch
spring

6. Write the program that promote the user to enter a weight in pounds and height in inches and displays the Body Mass Index

In [ ]:
weight=float(input("enter the weight in pounds"))
height=float(input("enter the height in inches"))
wt=weight*0.45359237
ht=height*0.025
BMI=wt/ht*ht
print(BMI)
if (BMI<18.5):
  print("underweight")
elif (18.5<=BMI<25.0):
  print("normal")
elif (25.0<=BMI<30.0):
  print("overweight")
else:
  print("obese")

enter the weight in pounds50
enter the height in inches29
22.6796185
normal

7.	Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer 	(	ex: input 745 	# output =16	(7+4+5)	)

In [ ]:
n=int(input("enter number"))
rem=0
sdit=0
if n>=100 and n<=1000:
  while n>0:
    rem=n%10
    sdit=sdit+rem
    n=n//10
print(sdit)

enter number789
24

8.	Print all palindrome numbers between 1 to 1000.

In [ ]:
num=int(input("enter max number"))
for i in range(1,num+1):
  temp=i
  rev=0
  while (temp>0):
    rem=temp%10
    rev=(rev*10)+rem
    temp=temp//10
    if i==rev:
      print(i,end=' ')

enter max number999
1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

9.	Print all Armstrong numbers between 1 to 1000.

In [ ]:
num=int(input("enter the max numbers"))
for i in range(1,num+1):
  temp=i
  sum=0
  while (temp>0):
    digit=temp%10
    sum=sum+digit**3
    temp=temp//10
    if i==sum:
      print(i,end=' ')

enter the max numbers999
1 64 125 153 216 370 371 407 729

10.	Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [ ]:
a=int(input("enter the number"))
if a%3==0 and a%5==0:
  print("fizz buzz")
elif a%3==0:
  print("Fizz")
elif a%5==0:
  print("Buzz")

enter the number15
fizz buzz

A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step.
Output:  The number of steps 'N' required to get out of the well.
Example 1:
 	Input:						Ouput 
	200 50 1					    5
	Example 2:
 	Input:						Output
	500 20 15					   98

In [4]:
h=int(input("enter height  "))
u=int(input("enter steps to move  "))
d=int(input("enter steps to slipped  "))
if d>=u and h>u:
  print("-1")
elif h<=u:
  print("1")
else:
  p=(h-u)/(u-d)
  p=p+2
print(int(p))

enter height  500
enter steps to move  20
enter steps to slipped  15
98