<a href="https://colab.research.google.com/github/Neeraja4716/AI-PE/blob/master/ASSIGNMENT_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
sn=pd.read_csv('/Salary_Data.csv')
print(sn)
x=sn.iloc[:,0:1]
print(x)

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0
    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [ ]:
import numpy as np
import pandas as pd
sn=pd.read_csv('/Salary_Data.csv')
print(sn)
print(sn.iloc[:,0:1])
print(sn.iloc[:,1:2])
xxm=[]
yym=[]
for i in range(0,31):
  xm=np.mean(sn.iloc[0:i,0:1])
  ym=np.mean(sn.iloc[0:i,1:2])
  xxm=(sn.iloc[0:i,0:1]-xm)
  yym=(sn.iloc[0:i,1:2]-ym)
  pxy=(xxm*yym)
print(xxm)
print(yym)
print(pxy)

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0
    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5
      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0
    YearsExperience
0         -4.213333
1         -4.013333
2         -3.813333
3         -3.313333
4         -3.113333
5         -2.413333
6         -2.313333
7         -2.113333
8         -2.113333
9         -1.613333
10        -1.413333
11        -1.313333
12        -1.313333
13        -1.213333
14        -0.813333
15        -0.413333
16        -0.213333
17        -0.013333
18         0.586667
19         0.686667
20         1.486667
21         1.786667
22         2.586667
23         2.886667
24         3.386667
25         3.686667
26         4.186667
27         4.286667
28         4.986667
29         5.186667
     Salary
0  -36660.0
1  -29798.0
2  -38272.0
3  -32478.0
4  -36112.0
5  -19361.0
6  -15853.0
7  -21558.0
8  -11558.0
9  -18814.0
10 -12785.0
11 -20209.0
12 -19046.0
13 -18922.0
14 -14892.0
15  -8065.0
16  -9974.0
17   7085.0
18   5360.0
19  17937.0
20  15735.0
21  22270.0
22  25299.0
23  37809.0
24  33428.0
25  29579.0
26  40966.0
27  36632.0
28  46388.0
29  45869.0
    Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN
17     NaN              NaN
18     NaN              NaN
19     NaN              NaN
20     NaN              NaN
21     NaN              NaN
22     NaN              NaN
23     NaN              NaN
24     NaN              NaN
25     NaN              NaN
26     NaN              NaN
27     NaN              NaN
28     NaN              NaN
29     NaN              NaN

In [ ]:
xm=np.mean(x)
ym=np.mean(y)
print(xm)
print(ym)
xmm=[]
for i in range(0,30):
  xmm.append((sn.iloc[0:i,0:1]-xm)*(sn.iloc[0:i,1:2]-ym))
print(xmm)

YearsExperience    5.313333
dtype: float64
Salary    76003.0
dtype: float64
[Empty DataFrame
Columns: [Salary, YearsExperience]
Index: [],    Salary  YearsExperience
0     NaN              NaN,    Salary  YearsExperience
0     NaN              NaN
1     NaN              NaN,    Salary  YearsExperience
0     NaN              NaN
1     NaN              NaN
2     NaN              NaN,    Salary  YearsExperience
0     NaN              NaN
1     NaN              NaN
2     NaN              NaN
3     NaN              NaN,    Salary  YearsExperience
0     NaN              NaN
1     NaN              NaN
2     NaN              NaN
3     NaN              NaN
4     NaN              NaN,    Salary  YearsExperience
0     NaN              NaN
1     NaN              NaN
2     NaN              NaN
3     NaN              NaN
4     NaN              NaN
5     NaN              NaN,    Salary  YearsExperience
0     NaN              NaN
1     NaN              NaN
2     NaN              NaN
3     NaN              NaN
4     NaN              NaN
5     NaN              NaN
6     NaN              NaN,    Salary  YearsExperience
0     NaN              NaN
1     NaN              NaN
2     NaN              NaN
3     NaN              NaN
4     NaN              NaN
5     NaN              NaN
6     NaN              NaN
7     NaN              NaN,    Salary  YearsExperience
0     NaN              NaN
1     NaN              NaN
2     NaN              NaN
3     NaN              NaN
4     NaN              NaN
5     NaN              NaN
6     NaN              NaN
7     NaN              NaN
8     NaN              NaN,    Salary  YearsExperience
0     NaN              NaN
1     NaN              NaN
2     NaN              NaN
3     NaN              NaN
4     NaN              NaN
5     NaN              NaN
6     NaN              NaN
7     NaN              NaN
8     NaN              NaN
9     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN
17     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN
17     NaN              NaN
18     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN
17     NaN              NaN
18     NaN              NaN
19     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN
17     NaN              NaN
18     NaN              NaN
19     NaN              NaN
20     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN
17     NaN              NaN
18     NaN              NaN
19     NaN              NaN
20     NaN              NaN
21     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN
17     NaN              NaN
18     NaN              NaN
19     NaN              NaN
20     NaN              NaN
21     NaN              NaN
22     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN
17     NaN              NaN
18     NaN              NaN
19     NaN              NaN
20     NaN              NaN
21     NaN              NaN
22     NaN              NaN
23     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN
17     NaN              NaN
18     NaN              NaN
19     NaN              NaN
20     NaN              NaN
21     NaN              NaN
22     NaN              NaN
23     NaN              NaN
24     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN
17     NaN              NaN
18     NaN              NaN
19     NaN              NaN
20     NaN              NaN
21     NaN              NaN
22     NaN              NaN
23     NaN              NaN
24     NaN              NaN
25     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN
17     NaN              NaN
18     NaN              NaN
19     NaN              NaN
20     NaN              NaN
21     NaN              NaN
22     NaN              NaN
23     NaN              NaN
24     NaN              NaN
25     NaN              NaN
26     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN
17     NaN              NaN
18     NaN              NaN
19     NaN              NaN
20     NaN              NaN
21     NaN              NaN
22     NaN              NaN
23     NaN              NaN
24     NaN              NaN
25     NaN              NaN
26     NaN              NaN
27     NaN              NaN,     Salary  YearsExperience
0      NaN              NaN
1      NaN              NaN
2      NaN              NaN
3      NaN              NaN
4      NaN              NaN
5      NaN              NaN
6      NaN              NaN
7      NaN              NaN
8      NaN              NaN
9      NaN              NaN
10     NaN              NaN
11     NaN              NaN
12     NaN              NaN
13     NaN              NaN
14     NaN              NaN
15     NaN              NaN
16     NaN              NaN
17     NaN              NaN
18     NaN              NaN
19     NaN              NaN
20     NaN              NaN
21     NaN              NaN
22     NaN              NaN
23     NaN              NaN
24     NaN              NaN
25     NaN              NaN
26     NaN              NaN
27     NaN              NaN
28     NaN              NaN]