<a href="https://colab.research.google.com/github/Neeraja4716/AI-PE/blob/master/ASSIGNMENT2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write the program for given the lengths of three sides of a triangle. Calculate the area of the triangle.

In [ ]:
a=float(input("enter the first side"))
b=float(input("enter the second side"))
c=float(input("enter the third side"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("The area of the triangle is %0.2f"%area)

enter the first side20.
enter the second side10
enter the third side20
The area of the triangle is 96.82

2. Write the program for a given string from end user and check if the value is polindrome or not

In [ ]:
str=input("enter the string:")
if(str==str[::-1]):
  print("The string is polindrome")
else:
  print("The string is not a polindrome")

enter the string:mom
The string is polindrome

3. Write a program that reads a year from the user and displays a message indicating whethere leap year or not.

In [ ]:
year=int(input("enter year to be checked:"))
if(year%4==0 and year%100!=0 or year%400==0):
  print("The year is a leap year!")
else:
  print("The year is not a leap year !")

enter year to be checked:2019
The year is not a leap year !

4. Write the program for given string as input spaces "" with hyphens "-", and returns a string.
Input: "This program coverts spaces into hyphen"
Output: "This-program-converts-spaces-into-hyphen"

In [ ]:
str=input("Enter string")
str=str.replace(' ','-')
print("Modified string: ")
print(str)

Enter string"This program converts spaces into hyphens"
Modified string:
"This-program-converts-spaces-into-hyphens"

5.Write the program for given a string as input that accepts a comma separated sequence of words as input and prints the unique words in order in sorted form (alphanumerically)
input: orange, white, red, cyan, green, magenta, cyan, pink, white
Output: cyan, green, magenta, orange, pink, red, white

In [ ]:
items=[n for n in input("enter the input:").split(',')]
items.sort()
print(','.join(items))

enter the input:orange, white, red, cyan, green, magenta, cyan, pink, white
 cyan, cyan, green, magenta, pink, red, white, white,orange

6. Write the program for the given information for their monthly salary. calculater whether they have to pay tax and if so, how much is that amount. print the result.

In [ ]:
salary=int(input("enter monthly income:"))
if(salary<=250000):
  tax=0
  print("total amount:",tax)
elif (250000<=salary<=500000):
  tax=((salary-250000)*(5/100))
  print("total amount:",tax)
elif (500001<=salary<=750000):
  tax=((salary-500001)*(10/100))
  print("total amount:",tax)
elif (750001<=salary<=1000000):
  tax=((salary-750001)*(15/100))
  print("total amount:",tax)
elif (1000001<=salary<=1250000):
  tax=((salary-1000001)*(20/100))
  print("total amount:",tax)
elif (1250001<=salary<=1500000):
  tax=((salary-1250001)*(25/100))
  print("total amount:",tax)
else:
  tax=((salary-1500000)*(30/100))
  print("total amount:",tax)

enter monthly income:12500000
total amount: 3300000.0

7. Write the program for a given list of integers as an arguments, and converts it into a single integer(return the integer)
Input:[11,33,50]
Output:113350

In [ ]:
def convert(list):
  s=[str(i) for i in list]
  res=int("".join(s))
  return(res)

In [ ]:
list=[11,33,50]
print(convert(list))

113350

8.Creat a program that reads duration from the user as a number of days, hours, minute, and seconds. Computer and display the total number of seconds represted by this duratioon.

In [ ]:
days=int(input("days: "))*3600*24
hours=int(input("hours: "))*3600
minutes=int(input("minutes: "))*60
seconds=int(input("seconds: "))
time=days+hours+minutes+seconds
print("The amount of seconds",time)

days: 5
hours: 36
minutes: 24
seconds: 15
The amount of seconds 563055

9. Write the program for given three integeres, sort the numbers using (min)and (max) functions

In [ ]:
x=int(input("first number: "))
y=int(input("second number: "))
z=int(input("third number: "))
a1=min(x,y,z)
a3=max(x,y,z)
a2=(x+y+z)-a1-a3
print("Number in sorted order: ",a1,a2,a3)

first number: 9
second number: 8
third number: 4
Number in sorted order:  4 8 9

10.write a program that reads a date from the user and computers its immediate successor. The data is the format yyyy-MM-DD. so,2020-04-15 will have the successor 2020-04-16

In [ ]:
d=int(input("ENTER THE DAY: "))
m=int(input("ENTER THE MONTH: "))
y=int(input("ENTER THE YEAR: "))
if((y%4==0)and (y%100!=0))or (y%400==0):
  if m==2:
    d1=29
  elif m==1 or m==3 or m==5 or m==7 or m==8 or m==10 or m==12:
    d1=31
  else:
    d1=30
else:
  if m==2:
    d1=28
  elif m==1 or m==3 or m==5 or m==7 or m==8 or m==10 or m==12:
    d1=31
  else:
    d1=30
if d==31 and m==12:
  d=1
  m=1
  y=y+1
elif d1-d==0:
  m=m+1
  d=1
else:
  d=d+1
print("NEXT DAY IS:",d,"/",m,"/",y)

ENTER THE DAY: 15
ENTER THE MONTH: 06
ENTER THE YEAR: 2000
NEXT DAY IS: 16 / 6 / 2000

11. write the program to print the product of the given list

In [ ]:
from functools import reduce
list=[45,3,2,89,1,10,7,72]
result=reduce ((lambda x,y:x*y),list)
print("Result=",result)

Result= 121111200

12. Write the program to compute given Num_List=[5,6,8,34,89,1] to get desired output:Out_list=[11,14,42,123,90]

In [ ]:
Num_list=[5,6,8,34,89,1]
print("The original list:"+str(Num_list))
res=[Num_list[i]+Num_list[i+1] for i in range (len(Num_list)-1)]
print("Out_list:"+str(res))

The original list:[5, 6, 8, 34, 89, 1]
Out_list:[11, 14, 42, 123, 90]

13. Write the program to compute given Num_tuple=(5,6,8,3,9,1) to get desired output:Out_list[5,30,240,720,6480,6480]

In [ ]:
input=[(1,5),(5,6),(30,8),(240,3),(720,9),(6480,1)]
output=[]
for elem in input:
  temp=elem[0]*elem[1]
  output.append(temp)
print("Out_list of tuple:")
print(output)

Out_list of tuple:
[5, 30, 240, 720, 6480, 6480]

14. Write a python code that takes a number and returns a list of its digits. so for 586392 it should return [5,8,6,3,9,2]

In [ ]:
input_number= input("enter the numbers: ")
list1=[]
for i in range(len(input_number)):
  list1.insert(i,input_number[i])
print(list1)

enter the numbers: 5863192
['5', '8', '6', '3', '1', '9', '2']

15. Write a program that finds the longest palindromic substring of a given string

In [ ]:
class solution(object):
     def longestpalindrome(self,s):
         dp=[[False for i in range(len(s))] for i in range(len(s))]
         for i in range(len(s)):
             dp[i][i]=True 
         maxlength=1
         start=0
         for l in range(2,len(s)+1):
            for i in range(len(s)-l+1):
               end=i+l
               if l==2:
                 if s[i]==s[end-1]:
                    dp[i][end-1]=True 
                    maxlength=l
                    start=i
               else:
                 if s[i]==s[end-1] and dp[i+1][end-2]:
                        dp[i][end-1]=True 
                        maxlength=l 
                        start=i 
         return s[start:start+maxlength]
ob1=solution()
print(ob1.longestpalindrome("abbabbca"))

bbabb

16. Write the program for the given two binary strings, A(of length of 10) and B (0f length 5), Output1 if B is a substring of A and 0 otherwise

In [ ]:
a=input("enter the string1:")
b=input("enter the string2:")
if b in a :
  print("output is: 1 ")
else:
  print("output is: 0")

enter the string1:1110111011
enter the string2:10011
output is: 0

17. Write the program for the given two vessels, one of which can accommodate a liters of water and the other-b liters of water, determine the number of steps required to obtain exactly c liters of water in one of the vessels

In [2]:
def gcd(a,b):

    if b==0: 

        return a 

    return gcd(b,a%b) 

def countsteps(a,b,c): 

    v1=b

    v2=0

    count=1

    while ((v1 is not c) and (v2 is not c)): 

        temp=min(v1,a-v2) 

        v2=v2+temp 

        v1=v1-temp 

        count=count+1

        if ((v2==c)or(v1==c)): 

            break

        if v1==0: 

            v1=b 

            count=count+1

        if v2==a: 

            v2=0

            count=count+1

    return count 

def ispossible(a,b,c): 

    if a>b: 

        temp=a 

        a=b 

        b=temp 

    if c>b: 

        return -1

    if (c%(gcd(b,a)) is not 0): 

        return -1

    return(min(countsteps(b,a,c),countsteps(a,b,c)))

t=int(input("Enter no of testcases : "))

for i in range(t):

  a=int(input("Enter capacity of vessel a : "))

  b=int(input("Enter capacity of vessel b : "))

  c=int(input("Enter capacity to be obtained :"))

  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 5
Enter capacity of vessel b : 2
Enter capacity to be obtained :3
Minimum number of steps required is :  2
Enter capacity of vessel a : 2
Enter capacity of vessel b : 3
Enter capacity to be obtained :4
Minimum number of steps required is :  -1